@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #121212;
  color: white;
  font-family: mixUIRegular;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.glava {
  display: flex;
  justify-content: center;
  padding: 32px 0 24px;
  width: 100%;
}

.glavni {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

h1 {
  font-family: mixUITiltle;
  font-size: 48px;
  text-align: center;
}

label {
  font-size: 14px;
  font-family: mixUIBold;
}

#emailField, #passwordField {
  all: unset;
  width: 298px;
  height: 22px;
  border-radius: 4px;
  background-color: #121212;
  border: 1px #818181 solid;
  color: white;
  font-size: 16px;
  padding: 12px;
  font-family: mixUIRegular;
  margin-top: 10px;
}

#emailField:hover, #passwordField:hover {
  border-color: white;
}

#emailField.invalid {
  border: 1px solid red;
}

.alert {
  color: #F3727F;
  font-size: 14px;
  padding: 8px 0;
  display: none;
}

#gumb1 {
  width: 324px;
  height: 48px;
  background-color: #1ed760;
  border: none;
  border-radius: 40px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-top: 50px;
}

#gumb1:hover {
  background-color: #3be477;
}

.aliDiv {
  margin-top: 35px;
  width: 324px;
  text-align: center;
  font-size: 13px;
  color: #b3b3b3;
}

.povezave button {
  width: 324px;
  height: 48px;
  border-radius: 40px;
  border: 1px solid #818181;
  background-color: #121212;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.povezave button:hover {
  border-color: white;
}

.povezave img {
  margin-left: 20px;
}

.registrirajbarva {
  color: white;
  font-size: 16px;
  margin-left: 12px;
  font-family: CircularSpotifyBold;
}

.textZeImasRacun {
  display: flex;
  justify-content: center;
  margin-top: 31px;
  font-size: 16px;
}

#prviDel { 
color: #b3b3b3; 
}

#drugiDel { 
color: white; 
text-decoration: none; 
}

#del1{
	color:white;
}

#del2{
	color:white;
}

.noga {
  margin-top: auto;
  font-size: 12px;
  color: #b3b3b3;
  text-align: center;
  padding: 24px;
  text-align: center;
  
  
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #121212;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  border: 1px solid #1ed760;
  color: white;
  z-index: 1000;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 999;
}

.gumb_popup {
  height: 30px;
  width: 100px;
  background-color: #1ed760;
  border: none;
  border-radius: 40px;
  font-family: mixUIBold;
  cursor: pointer;
  margin-top: 15px;
}

.gumb_popup:hover { 
  background-color: #3be477; 
}
